@media (max-width: 800px) {
  .contact-container a {
    font-size: 15px;
    text-align: center;
  }
  .contact-container h2 {
    font-size: 25px;
    display: inline;
  }
  .contact-container p {
    font-size: 18px;
    margin-right: 10px;
  }
  .contact-container {
    margin-top: 800px;
    margin-bottom: -50px;
  }
  body {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .contact-container {
    margin-bottom: 20px;
  }

  .contact-container {
    margin-top: 200px;
    margin-bottom: 50px;
  }
}
