:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h4,
h4 {
  font-family: var(--heading-font-family);
}

.logo {
  width: 150px;
  height: 40px;
}

.homepage-navbar-background {
  background-color: var(--secondary-color);
}

.homepage-image-width {
  margin: 20px 20px;
}

.navbar {
  color: #272142;
}

.navbar:hover {
  color: var(--branding-color);
}

.active-navbar {
  color: var(--branding-color);
  text-decoration: none;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
  font-size: 96px;
  line-height: 1.5;
}

p {
  font-weight: 400;
  font-style: normal;
}
.heading {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}

.heading p {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.heading h2 {
  font-size: 24px;
  color: #272142;
  font-weight: 300;
}

.heading a {
  text-decoration: none;
  background-color: var(--branding-color);
  padding: 18px 30px;
  color: white;
  border-radius: 4px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  color: #272142;
  line-height: 1.5;
}

header {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}

.project-description {
  color: #272142;
  opacity: 70%;
  font-size: 16px;
}

.btn-branding-outline {
  text-decoration: none;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 18px 30px;
  border-radius: 4px;
  display: flex;
  justify-content: start;
  max-width: 150px;
  text-align: center;
}

.project-container {
  padding: 20px 10px;
}

.content {
  margin: 40px auto;
}

.content h1 {
  font-size: 66px;
  line-height: 1.5;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: bold;
}

.branding-color-button {
  text-decoration: none;
  background-color: var(--branding-color);
  padding: 18px 30px;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
}

.about-me-page-button {
  margin: 0 auto;
  display: flex;
  max-width: 200px;
  margin-left: -100px;
}

.about-image {
  margin-top: 500px;
}

.content {
  padding: 160px 20px;
}

.content h3 {
  font: 48px;
}

.work-enquiry-container {
  display: flex;
  justify-content: space-between;
  max-width: 1225px;
  margin-top: 60px;
  background-color: var(--secondary-color);
  padding: 60px 120px;
  margin-bottom: 100px;
}

.footer-contact {
  text-align: center;
}

.footer-email {
  font-size: 24px;
}

@media (max-width: 960px) {
  .heading {
    padding: 80px 20px;
  }

  .logo {
    width: 95px;
    height: 30px;
  }

  .navbar {
    font-size: 12px;
  }

  .navbar:hover {
    color: var(--branding-color);
  }

  .active-navbar {
    font-size: 12px;
  }

  .active-navbar:hover {
    color: var(--branding-color);
  }

  .project-container {
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 40px;
  }
  header {
    font-size: 36px;
  }

  .content {
    padding: 0;
    text-align: center;
  }

  .branding-color-button {
    margin: 20px;
    padding-top: 40px auto;
  }

  .content h1 {
    font-size: 40px;
  }
  .work-enquiry-container {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .work-enquiry {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .footer-email {
    font-size: 16px;
  }
}
