:root {
  --branding-color: #2c786c;
  --secondary-color: #ddeedf;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.work-project-img {
  transition: all 0.5s ease;
  max-width: 100%;
}

.work-project-img:hover {
  transform: scale(1.1);
}

body {
  margin: 0;
  overflow-x: hidden;
}

.heading-homepage h1 {
  display: flex;
  margin-top: 150px;
  margin-left: 150px;
}

h1,
h2,
h4 {
  font-family: var(--heading-font-family);
}

.heading .homepage-subheading {
  font-size: 30px;
  margin-left: 140px;
  margin-right: -90px;
}

.logo {
  width: 150px;
  height: 40px;
}

.homepage-navbar-background {
  background-color: var(--secondary-color);
  padding-left: 20px;
}



.navbar {
  color: #272142;
}

.navbar:hover {
  color: var(--branding-color);
}

.work-enquiry-container h2 {
  font-family: var(--heading-font-family);
}

.active-navbar {
  color: var(--branding-color);
  text-decoration: none;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
  font-size: 96px;
  line-height: 1.5;
}

p {
  font-weight: 400;
  font-style: normal;
}
.heading {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}

.heading p {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.heading h2 {
  font-size: 24px;
  color: #272142;
  font-weight: 300;
}

.heading a {
  text-decoration: none;
  background-color: var(--branding-color);
  padding: 18px 30px;
  color: white;
  border-radius: 4px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  color: #272142;
  line-height: 1.5;
}

header {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}

.project-description {
  width: 500px;
  height: 150px;
  overflow: hidden;
}

.project-description-one {
  color: #272142;
  opacity: 70%;
  font-size: 16px;
  background-color: #F2E6E9;
}

.project-description-two {
  color: #272142;
  opacity: 70%;
  font-size: 16px;
  background-color: #8594E4;
}

.project-description-three {
  color: #272142;
  opacity: 70%;
  font-size: 16px;
  background-color: #a2a8d3;
}

.project-description-four {
  color: #272142;
  opacity: 70%;
  font-size: 16px;
  background-color: #6e61a5;
}




.work-left-column {
  padding: 0px;
  margin: 0px;
}

.btn-branding-outline {
  text-decoration: none;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 18px 30px;
  border-radius: 4px;
  display: flex;
  justify-content: start;
  max-width: 150px;
  text-align: center;
}

.btn-branding-outline:hover {
  color: black;
  border: 1px solid black;
}

.project-container {
  padding: 20px 10px;
}

.content {
  margin: 40px auto;
}

.content h1 {
  font-size: 66px;
  line-height: 1.5;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: bold;
}

.branding-color-button {
  text-decoration: none;
  background-color: var(--branding-color);
  padding: 18px 30px;
  color: white;
  border-radius: 4px;
  margin-top: 20px;
}

.branding-color-button:hover {
  background-color: white;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.about-me-page-button {
  margin: 0 auto;
  display: flex;
  max-width: 200px;
  margin-left: -100px;
}

.about-image {
  margin-top: 500px;
}

.content {
  padding: 160px 20px;
}

.content h3 {
  font: 48px;
}

.work-enquiry-container {
  display: flex;
  justify-content: space-between;
  max-width: 1220px;
  margin-top: 60px;
  background-color: var(--secondary-color);
  padding: 60px 120px;
  margin-bottom: 100px;
}

.footer-contact {
  text-align: center;
}

.footer-email {
  font-size: 24px;
  text-decoration: none;
  color: #272142;
}

.footer-email:hover {
  color: var(--branding-color);
}

.icon-styling {
  background-color: var(--secondary-color);
  padding: 20px;
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

.icon-styling:hover {
  background-color: var(--branding-color);
  color: white;
}

@media (max-width: 960px) {
  .heading {
    padding: 80px 20px;
    max-width: 960px;
  }

  header {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  body {
    margin-right: 0px;
    overflow-x: hidden;
  }

  .logo {
    width: 95px;
    height: 30px;
  }

  .navbar {
    font-size: 12px;
  }

  .navbar:hover {
    color: var(--branding-color);
  }

  .active-navbar {
    font-size: 12px;
  }

  .active-navbar:hover {
    color: var(--branding-color);
  }

  .work-enquiry-button {
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .project-container {
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 40px;
  }
  header {
    font-size: 36px;
  }

  .content {
    padding: 0;
    text-align: center;
  }

  .branding-color-button:hover {
    background-color: white;
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
  }

  .btn-branding-outline {
    display: block;
    margin: 0 auto;
  }

  .btn-branding-outline:hover {
    color: black;
    border: 1px solid black;
  }

  .content h1 {
    font-size: 40px;
  }
  .work-enquiry-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    max-width: 350px;
  }

  .work-enquiry {
    padding: 0;
    margin: 0;
  }
  .footer-email {
    font-size: 16px;
  }

  .footer-email:hover {
    color: var(--branding-color);
  }
}

.profile-photo {
  width: 500px;
  border-radius: 10px;
}

.background-section h2 {
  font-size: 60px;
}

.background-section p {
  margin-top: 30px;
}

.background-section {
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: 40px;
}

.background-section p {
  font-size: 20px;
}

.projects-section h2 {
  font-size: 48px;
  margin-bottom: 30px;
}

.homepage-projects-header {
  margin-left: 40px;
}

.project-examples img {
  margin: 0 auto;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-radius: 10px;
}

.img-fluid {
  height: 400px;
  width: 500px;
}

.navbar-background {
  background-color: var(--secondary-color);
}
